:root {
  --gradien-start: ;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a093f;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.card {
  background: linear-gradient(135deg, #1a093f, #6d38f0);
  padding: 32px;
  border: 2px solid #6d38f0;
  border-radius: 16px;
  width: 900px;
  height: 500px;
  max-width: 90vw;
  text-align: center;
  overflow-y: auto;

  box-shadow: 0 0 5px #6d38f0, 0 0 10px #6d38f0, 0 0 20px #6d38f0, 0 0 40px #6d38f0;
}

h2 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 28px;
  font-weight: 700;
}

label {
  margin-right: 8px;
  font-weight: 600;
  color: #000000;
}

select,
input[type="number"] {
  padding: 6px;
  margin: 5px;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
}

input[type="number"] {
  width: 40px;
}

button {
  padding: 10px 18px;
  background-color: #6d38f0;
  color: rgb(0, 0, 0);
  border: 2px solid #9c75ff;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px #6d38f0, 0 0 10px #6d38f0, 0 0 20px #6d38f0, 0 0 40px #6d38f0;
}

button:hover {
  background-color: #230f4e;
}

.matrix-wraper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.matrix-container {
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #dcdde1;
  border-radius: 12px;
  background-color: #fdfefe;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  min-width: 160px;
}

.matrix-container h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #2c3e50;
  font-weight: 600;
}

.matrix-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.matrix-col input {
  width: 50px;
  height: 40px;
  margin: 4px;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.result input {
  width: 40px;
  height: 30px;
  margin: 4px;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  background-color: #fdfefe;
  border: 1px solid #ccc;
}

/* #result {
  margin-top: 25px;
  padding: 16px;
  background-color: #ecf0f1;
  border-radius: 10px;
  border: 1px solid #dcdde1;
  max-width: 100%;
  overflow-x: auto;
  font-weight: bold;
  font-size: 16px;
  color: #34495e;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .card {
    width: 420px;
    height: 500px;
    padding: 24px;
  }

  input[type="number"] {
    width: 25px;
    font-size: 13px;
  }

  .matrix-col input {
    width: 40px;
    height: 35px;
    font-size: 14px;
  }

  button,
  form button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
  }

  .matrix-row {
    justify-content: center;
  }
}
